<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Book page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    </head>
    <body>
        <h1 id="logo">Library</h1>
        <a href="/">Home</a>
        <div class="form-holder new-books">
            <form method="post" action="/addbook">
                    <label>Title:</label>
                    <input class="title" type="text" name="title" required>
                    <label>Author:</label>
                    <input type="text" name="author" required>
                    <label>Year:</label>
                    <input type="text" name="year" required>
                    <label for="genre">Sort By:</label>
                    <select id="genre" name="genre" required>
                        {% for genre in genres %}
                        <option value={{genre.id}}>{{genre.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" placeholder="other genre" name="genre_text">
                <input type="submit" value="Add Book">
            </form>
        </div>
    </body>
</html>