<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    </head>
    <body>
        <h1 id="logo">Library</h1>
        <nav>
            <p>
                <a href="/bookadd">Add New Book</a>
            </p>
        </nav>
        <div class="form-div">
            {% if showChecked %}
            <form class="checked-out-control" action="/" method="post">
                <input type="submit" value="Hide Checked Out Books">
            </form>
            {% else %}
            <form class="checked-out-control" action="/getbooks/all" method="post">
                <input type="submit" value="Show Checked Out Books">
            </form>
            {% endif %}
            <form class="filter-by" action="/getbooks/search" method="post">
                <div class="sort-by-control">
                    <label for="sort-by-drop-down">Sort By:</label>
                    <select id="sort-by-drop-down" name="filter_by">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="genre.name">Genre</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                <div class="search-control">
                     <input type="text" placeholder="search" name="query">
                     <input type="submit">
                </div>
            </form>
        </div>
        {% if message %}
        <p>Book added!</p>
        {% endif %}
            {% for book in books %}
                <div class="book">
                    <p>{{book.title}}</p>
                    <p>{{book.author}}</p>
                    <p>{{book.year}}</p>
                    <p>{{book.name}}</p>
                    <form action="/setavail", method="post">
                        {% if showall %}
                        <input style="display: none;" value="showall" name="view">
                        {% else %}
                        <input style="display: none;" value="showavail" name="view">
                        {% endif %}

                        {% if book.available == 1 %}
                        <input style="display: none;" class="hidden" name="book_id" type="text" value={{book.book_id}} hidden>
                        <input style="display: none;" class="hidden" name="availability" type="text" value="0" hidden>
                        <input type="submit" value="Check Out" class="check-btn">
                        {% else %}
                        <input style="display: none;" class="hidden" name="book_id" type="text" value={{book.book_id}} hidden>
                        <input style="display: none;" class="hidden" name="availability" type="text" value="1" hidden>
                        <input type="submit" value="Check In" class="check-btn">
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
    </body>
</html>