<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
        <script src="{{ url_for('static', filename='javascript/scripts.js')}}"></script>
    </head>
    <body>
    <iframe id="logo" src="https://giphy.com/embed/xYlMLolWl2thK" width="128" height="96" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
        <h1 id="logo">Library</h1>

        <nav>
            <p>
                <a class="nav-link" href="/bookadd">Add New Book</a>
            </p>
        </nav>
        <div class="form-div">
            <button class="book-display-control" onClick="filterBooksByAvailability(event)">Show Checked Out Books</button>
            <form class="filter-by" action="/getbooks/search" method="post">
                <div class="sort-by-control">
                    <label for="sort-by-drop-down">Sort By:</label>
                    <select id="sort-by-drop-down" name="filter_by">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="genre.name">Genre</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                <div class="search-control">
                     <input type="text" placeholder="search" name="query">
                     <input type="submit">
                </div>
            </form>
        </div>
        {% if message %}
        <p>Book added!</p>
        {% endif %}
        <div class="books" id="book-holder"></div>
    </body>
</html>