* {
    box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#logo {
    font-family: "Comic Sans MS", comic-sans;
    color: white;
    background-color: magenta;
    display: inline-block;
    width: 125px;
    border: 5px solid black;
    border-radius: 15px;
}

#logo h1 {
    padding: 5px;
}

.form-div {
    margin: 10px;
}

.filter-by * {
    display: inline;
}

.book * {
    display: inline;
}

.book {
    border: 3px solid black;
    box-shadow: 5px 5px gray;
    margin: 10px;
}

.book-holder {
    border: 2px solid black;
}

.form-holder {
    border: 2px solid black;
    padding: 15px;
    height: 80vh;
}

.form-holder form {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.form-holder label {
    grid-column: 1 / 2;
}

.form-holder input {
    grid-column: 2 / 3;
}

input[type="submit"] {
    box-shadow: 3px 3px;
    border-radius: 3px;

input[type="text"] {
    border-radius: 10px;
}

.book form input .hidden {
display: none;
visibility: hidden;

}