* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Comic Sans MS", comic-sans;
    border-radius: 15px;
}

body {
    background-color: aqua;
}

input[type="submit"] {
    background: lime;
}

h1 {
  font-size: 2em;
}

header {
    padding: 30px 15px;
}

#logo {
    color: white;
    background-color: magenta;
    display: inline-block;
    width: 125px;
    border: 5px solid black;
    margin: 10px;
    box-shadow: 10px 10px maroon;
}

#logo h1 {
    padding: 5px;
}

.nav-link {
    margin: 15px;
    display: block;
}

.form-div {
    grid-template-columns: 1fr 4fr;
    display: grid;
    column-gap: 200px;
}

.checked-out-control {
    grid-column: 1;
}

.filter-by {
    grid-column: 2;
}

.filter-by * {
    display: inline;
}

.filter-by div {
    margin: 0px 25px;
}

.check-btn {
    width: 100px;
}

.books {
    margin: 20px;
}

.book {
    border: 3px solid black;
    box-shadow: 5px 5px gray;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    font-family: "Comic Sans MS", comic-sans;
    background-color: orange;
}

.book * {
    margin: 5px;
}

.book form {
    grid-column: 6;
}

.new-books {
    border: 2px solid black;
    padding: 15px;
    background-color: orange;
    box-shadow: 20px 20px black;
}

.new-books form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 10px;
}

.new-books label {
    grid-column: 1;
}

.new-books input {
    place-self: center stretch;
}

.add-title {
    grid-column: 2;
}

.add-author {
    grid-column: 2;
}

.add-year {
    grid-column: 2;
}

.add-genre {
    grid-column: 2;
    width: 200px;
}

.add-new-genre {
    grid-column: 3;
}

.add-book-btn {
    grid-column: 5;
}

input[type="submit"] {
    box-shadow: 3px 3px;
    border-radius: 3px;
}

.search-control input[type="text"] {
    border-radius: 10px;
}

.book form input .hidden {
    display: none;
    visibility: hidden;
}